<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form (ngSubmit)="onSubmit()" [formGroup]="myReactiveForm">
        <div class="form-group">
          <label for="projectName">Project name</label>
          <input 
            type="text" 
            id="projectName" 
            class="form-control"
            formControlName="projectName">
            
            <span 
              class="help-block"
              *ngIf="!myReactiveForm.get('projectName').valid && myReactiveForm.get('projectName').touched">
              <span *ngIf="!myReactiveForm.get('projectName').valid 
              && myReactiveForm.get('projectName').touched" class="help-block">
            <span *ngIf="myReactiveForm.get('projectName').errors['notAllowName']">
              Name is not allowed</span>
            <span *ngIf="myReactiveForm.get('projectName').errors['required']">
             Project name is required</span>
          </span>
            </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email"
            id="email"
            class="form-control"
            formControlName="email" >
            <span 
            class="help-block"
            *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">Email is required</span>
        </div>
        <div class="form-group">
          <label for="status">Project Status</label>
          <select formControlName="status" class="form-control">
            <option *ngFor="let status of projectStatus" [value]="status">{{status}}</option>
          </select>
        </div>
        <span 
        class="help-block"
        *ngIf="!myReactiveForm.valid && myReactiveForm.touched">Form is invalid. Please check your information</span>
        <div class="btn-toolbar">
          <button type="submit" class="btn btn-success">Send</button>
          <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
